.Login{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 105, 105);}

.item5{
    padding:15px;
}

.titleNick{
    font-size: 90px;
    font-weight:bolder;
    margin-bottom: 60px;
    color:yellow;
}

.inputSize{
    width: 450px;
    height: 50px;
}

.login_btn{
    width: 450px;
    height: 60px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 30px;
    color:white;
    cursor: pointer;
}