.contents_profile{
    height: 585px;
    margin: 0 auto;
    padding: 3em;
    border: 1px solid rgba(0,0,0,0.25);
    background-color: rgb(237, 240, 87);
    font-family: 'Nanum+Gothic','Robot'
  }

.profile{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top:30px;
}

.basic{
    display: flex;
    flex-direction: row;
    width:100%
    
}
.nick{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
}

.Profile_imgChange, .Profile_nickChange, .imgChange_Upload{
    display: flex;
    flex-direction: row;
}

.Profile_Upload{
    display: flex;
    flex-direction: column;
}

.Profile_imgChange>.Profile_imgText, .Profile_nickChange>.Profile_nickText{
    width:150px;
    border-right:2px solid black;
    padding:30px;
    font-weight: bolder;
    background-color:rgb(123, 126, 57) ;
}

.Profile_imgChange{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.Profile_nickChange{
    border-bottom: 2px solid black;
}

.ProfileImg{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left:30px;
    margin-bottom: 20px;
}

.Profile_nickChange>input{
    height: 20px;
    padding:5px;
    margin:30px;
}

.imgChange_Upload{
    margin-left:30px;
}

.profile button{
    border: none;
    cursor: pointer;
}

.profile_middle{
    margin-top:50px;
}

.profile_fix{
    margin-bottom: 10px;
}

.profile_handler{
    margin-top:30px;
    width: 80px;
    background-color: white;
    font-weight: bolder;
}

.imgChange_Upload>input{
    width: 200px;
}

.profile>div{
    width: 700px;
}

.imgChange_Upload button{
    margin-bottom: 30px;
    background-color: white;
    font-weight: bolder;
}

.key_background{
    background-color: yellow;
}

.profile_change_text, .profile_todo_text{
    width: 80px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 10px;
    cursor: pointer;
}

.profile_handlers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_todo_text{
    margin-top : 20px
}





