@import "../var";

.a {
    .b {
        .c{
            background-color: $mainColor;
            color: white;
            &:hover {
                background-color: $subColor;
            }
        }
    }
}